:root {
  /* Colores principales */
  --green-primary: #3a8524; /* Verde aguacate */
  --green-light: #a8d36c; /* Verde claro */
  --yellow-maize: #f4b516; /* Amarillo maíz */
  --brown-seed: #8b4f26; /* Marrón semilla */
  --red-tomato: #d13e25; /* Rojo tomate */
  --green-dark-text: #2f5d1c; /* Verde profundo (texto) */
  --off-white-bg: #fff5e1; /* Fondo claro tipo papel */

  /* Otros */
  --border-radius: 12px;
  --transition-fast: 0.2s ease-in-out;
}

/* Estilos generales */
.home_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--off-white-bg);
}

.home_content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.home_content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/public/ChatGPT\ Image\ 2\ may\ 2025\,\ 15_35_40.png);
  background-size: cover;
  /* background-position: center; */
  opacity: 0.4; /* Ajusta la opacidad según sea necesario */
  z-index: 1;
}

.home_content > * {
  position: relative;
  z-index: 2;
}

.home_content--img {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_content--img img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  border-radius: var(--border-radius);
  filter: drop-shadow(0px 6px 6px rgba(192, 171, 53, 0.9));
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.home_content--img img:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 8px 8px rgba(192, 171, 53, 1));
}

.home_content--container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_content--text {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--green-dark-text);
  /* background-color: rgba(211, 195, 108, 0.2);  */
  border-radius: var(--border-radius);
  /* backdrop-filter: blur(5px);  */
}

.home_content--text h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.home_content--text h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.home_content--text p {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.home_content--text button {
  width: 200px;
  height: 50px;
  background-color: var(--yellow-maize);
  color: var(--green-dark-text);
  font-size: 20px;
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition-fast);
  font-family: "Fredoka", sans-serif;
}

.home_content--text button:hover {
  background-color: var(--green-light);
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.admin-panel-btn {
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  background-color: var(--green-primary);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-fast);
}

.admin-panel-btn:hover {
  background-color: var(--green-light);
}